<!--CountDown-->
<div class="text-center">
    <div class="alert">
        <strong>{{countdown}}</strong>
    </div>
</div>

<!--Form search user-->
<form class="form-inline" role="form" name="searchUser" ng-submit="search(username)">
    <div class="form-group">
        <label class="sr-only">Nombre de Usuario</label>
        <input type="text" class="form-control" required ng-model="username" placeholder="Nombre de Usuario">
    </div>
    <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
</form>

